@media screen and (max-width: 576px){
    .head, nav, .nav-content > ul{
        flex-direction: column;
        gap: 20px;
    }
    .head, nav, .sponsor, hr{
        margin: 10px 20px;
    }
    .banner-desc, .banner-title{
        text-align: center;
    }
    .banner-img{
        left:0px;
        width: 400px;
        height:400px;
        padding:10px;
    }
    .banner-desc{
        width: auto;   
     }

}